= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message

  = f.label :username
  = f.text_field :username
  %br

  = f.label :email
  = f.text_field :email
  %br

  = f.label :password
  = f.password_field :password
  %br

  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br

  = recaptcha_tags
  
  = f.submit "Create new user"
