!!!
%html
  %head
    %title Voyager
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .container
        - if flash[:notice]
          = flash[:notice]
        - if current_user
          Logged in as #{current_user.email}

        %br
        %nav.signup
          - if current_user
            = link_to "Log out", logout_path
            |
            = link_to "Profile", edit_user_path(current_user)
            |
            = link_to "Inbox", message_path(current_user)
          - else
            = link_to "Sign up", signup_path
            |
            = link_to "Log in", login_path
            %br
            = link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter)
        %br

        %nav.navigation
          = link_to "Home", root_path
    .main
      .container
        Main
        = yield

    %footer
      .container
        Currently active users: #{current_users_list}

